.title {
    font-size: 40px;
    font-family: 'Calibri',sans-serif;
  }


  .main {
    display: flex;
    justify-content: center;
    
  }

  footer {
    height: 30px;
    width: 100vw;
    background-color:darkgray ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-family: 'Calibri',sans-serif;
    color: white;
    font-size: 12px;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
    padding: 0 15% 0 5%;
  }
  

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-nickname {
    text-decoration: none;
    color: #333333;
    margin-right: 2vw;
    font-weight: bold;
    font-size: 20px;
  }
  
  
  .logout {
    text-decoration: none;
    color: black;
    padding: 2px 6px;
    font-size: 20px;
  }
  
  .login {
    text-decoration: none;
    color: black;
    margin-right: 2vw;
    padding: 2px 6px;
    font-size: 20px;

  }
  
  .sign-up {
    text-decoration: none;
    color: black;
    padding: 2px 6px;
    font-size: 20px;
  }

.menu {
  background-color: #EEE;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 25% 0 25%;
}



a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}



