<header>
    <div class="heading">
        <h1 class="title">Style Shelf</h1>
    </div>
        <div class="navbar">
            <ul class="nav-lists">
                <li>item</li>
                <li>style</li>
                <li>wish list</li>
                <li>brand collection</li>
            </ul>
        </div>
</header>
