.purchase-btn {
    width: 120px;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 8px;
  }
  
  .purchase-btn-text {
    color: black;
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #FF3366;
   
  }
  

  .item-lists {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .item-img-content {
    position: relative;
  }

  .item-img {
    width: 33vh;
    height: 33vh;
    padding: 5px;
  }
  

  input[type="button"],input[type="submit"],button{
    cursor: pointer;
}


/* サーチアイコンのスタイル */
.search-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  
  /* ナビゲーションバーのスタイル */
  .navbar {
    position: relative;
    display: inline-block;
  }
  
  /* リストのスタイル */
  .nav-lists {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  
  /* "SEARCH"リストのスタイル */
  .background-red {
    background-color: #FF3366;
    color: white; /* 文字の色 */
    padding: 10px 20px;
  }
  
  /* プルダウンリストのスタイル */
  .show-lists {
    display: none; /* 最初は非表示 */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  /* プルダウンリストの個別アイテムのスタイル */
  .pull-down-list {
    list-style: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .pull-down-list:hover {
    background-color: #f0f0f0; /* ホバー時の背景色 */
  }
  
  /* 選択されたリストの表示スタイル */
  #current-list {
    padding: 10px 20px;
    background-color: #FFBEDA; /* 選択されたリストの背景色 */
    color: white;
    cursor: pointer;
  }